
@{
    ViewBag.Title = "Tuntiseuraus";
}

<h2>Työntekijä tuntiseuraus</h2>

<div class="createproject">
    <h2>Tarkista tunnit per työntekijä</h2>
    <table class="table table-responsive" id="tablehours">
        <thead>
            <tr>
                <th>Nimi</th>
                <td>Projekti</td>
                <td>Tunnit</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
